<!-- Declaration Block -->

<div class="contentDiv">
    <div>
        <h3>Declaration:</h3> 
        
        <h4 style="margin: auto; padding: 10px; width: 80%; text-align: justify;">
            I hereby declare that all the information provided above are all true to the best of my knowledge. <br>
            I have read the rules and regulations of the school. <br>
            I will submit Photocopy of AADHAR of Student, Student’s Father and Student’s Mother by 31
August, if I fail to do so school will have right to cancel the admission of my ward, and I will not be
able to request any type of fee refund. <br>
        </h4>
        
        <h4 style="margin: auto; padding: 10px; width: 80%; text-align: justify;">
            <input type="checkbox" name="declaration" value="{{ form.declaration.value }}" id="declaration" onchange="declarationStateChange(this)"> I agree to the above declaration.
        </h4>
    </div>
</div>
<br>
