<div class="officebox">
    <table style="width: 90%;" border="0">
        <tr>
            <td>ENR No:</td>
            <td>
                <input type="text" name="enrolment_no" class="txtBx" value="{{ form.enrolment_no.value }}">
            </td>
            <td>PEN No:</td>
            <td>
                <input type="text" name="pen_no" class="txtBx" value="{{ form.pen_no.value }}">
            </td>
            <td>AAPAR ID:</td>
            <td>
                <input type="text" name="aapar_id" class="txtBx" value="{{ form.aapar_id.value }}">
            </td>
        </tr>
        <tr>
            <td>File No:</td>
            <td>
                <input type="text" name="file_no" class="txtBx" value="{{ form.file_no.value }}">
            </td>
            <td>Date of Admission:</td>
            <td>
                <input type="date" name="admission_date" class="txtBx" value="{{ form.admission_date.value }}">
            </td>
        </tr>
    </table>
    
</div>

<br>
