<!-- Prev School Block -->
<div class="contentDiv">
    <div>
        <h3>Previous School Details (if any):</h3>
        <table style="width: 80%;" border="0">
            <tr>
                <td style="width: 15%;">School Name: </td>
                <td colspan="7"><input type="text" name="prev_school_name" class="txtBx1" value="{{ form.prev_school_name.value }}"></td>
            </tr>
            <tr>
                <td style="width: 10%;">Studied in class:</td>
                <td>
                    <select name="from_class" class="txtBx1" value="{{ form.from_class.value }}">
                        <option value="Nursery">Nursery</option>
                        <option value="KG">K.G.</option>
                        <option value="Prep">Prep</option>
                        <option value="I">Ist</option>
                        <option value="II">IInd</option>
                        <option value="III">IIIrd</option>
                        <option value="IV">IVth</option>
                        <option value="V">Vth</option>
                    </select>
                </td>
                <td style="width: 10%;">to class:</td>
                <td>
                    <select name="to_class" class="txtBx1" value="{{ form.to_class.value }}">
                        <option value="Nursery">Nursery</option>
                        <option value="KG">K.G.</option>
                        <option value="Prep">Prep</option>
                        <option value="I">Ist</option>
                        <option value="II">IInd</option>
                        <option value="III">IIIrd</option>
                        <option value="IV">IVth</option>
                        <option value="V">Vth</option>
                    </select>
                </td>
                <td style="width: 10%;"> from year:</td>
                <td>
                    <select name="from_year" class="txtBx1" value="{{ form.from_year.value }}">
                        <option value="2000">2000</option>
                        <option value="2001">2001</option>
                        <option value="2002">2002</option>
                        <option value="2003">2003</option>
                        <option value="2004">2004</option>
                        <option value="2005">2005</option>
                        <option value="2006">2006</option>
                        <option value="2007">2007</option>
                        <option value="2008">2008</option>
                        <option value="2009">2009</option>
                        <option value="2010">2010</option>
                        <option value="2011">2011</option>
                        <option value="2012">2012</option>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                    </select>
                </td>
                <td style="width: 10%;">to year:</td>
                <td>
                    <select name="to_year" class="txtBx1" value="{{ form.to_year.value }}">
                        <option value="2000">2000</option>
                        <option value="2001">2001</option>
                        <option value="2002">2002</option>
                        <option value="2003">2003</option>
                        <option value="2004">2004</option>
                        <option value="2005">2005</option>
                        <option value="2006">2006</option>
                        <option value="2007">2007</option>
                        <option value="2008">2008</option>
                        <option value="2009">2009</option>
                        <option value="2010">2010</option>
                        <option value="2011">2011</option>
                        <option value="2012">2012</option>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
 </div>

 <br>
 